@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000b27;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-space: var(--font-space-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000b27;
    --foreground: #ffffff;
  }
}

html,
body {
  @apply flex h-full flex-col;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
