@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-space: var(--font-space-mono);
}

:root {
  --background: #ffffff;
  --foreground: #000b27;
}

[data-theme="dark"] {
  --background: #000b27;
  --foreground: #ffffff;
}

html,
body {
  @apply bg-background text-foreground font-inter relative flex h-full flex-col;
}
