# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.pnpm/
.pnpm-store/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

# Logs
*.log

# IDE
.vscode/
.idea/

# Build
dist/
build/
.svelte-kit/
.next/